Repository hmcts/sscs-cor-frontend, pull requests merged in 2022-07, with the labels that each got.

#878 Update audit file
  audit.json
  charts/sscs-cor-frontend/Chart.yaml
Labels: ns:sscs, prd:sscs-cor, rel:sscs-cor-frontend-pr-878

#881 suppress zap warnings
  audit.json
Labels: ns:sscs, prd:sscs-cor, rel:sscs-cor-frontend-pr-881

#882 sscsBaseChartUpdate-NodeJs245
  charts/sscs-cor-frontend/Chart.yaml
Labels: ns:sscs, prd:sscs-cor, rel:sscs-cor-frontend-pr-882

#883 Suppress packages not having patch version
  yarn-audit-issues-result
  yarn-audit-known-issues
Labels: ns:sscs, prd:sscs-cor, rel:sscs-cor-frontend-pr-883
