Repository hmcts/sscs-cor-frontend, pull requests merged in 2023-06, with the labels that each got.

#1006 yarn 3 upgrade
  .dockerignore
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  Dockerfile
  Jenkinsfile_CNP
  infrastructure/main.tf
  package-lock.json
  package.json
  yarn-audit-issues-result
  yarn-audit-known-issues
  yarn.lock
Labels: ns:sscs, prd:sscs-cor, add-or-update, rel:sscs-cor-frontend-pr-1006

#1008 removing old redis setup. direct to new one
  infrastructure/main.tf
Labels: ns:sscs, prd:sscs-cor, destroy, rel:sscs-cor-frontend-pr-1008

#1010 update redis host
  charts/sscs-cor-frontend/Chart.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs, prd:sscs-cor, destroy, rel:sscs-cor-frontend-pr-1010

#1012 Redis fix
  charts/sscs-cor-frontend/Chart.yaml
  charts/sscs-cor-frontend/values.yaml
  config/aat.json
  config/demo.json
  infrastructure/main.tf
Labels: ns:sscs, prd:sscs-cor, destroy, rel:sscs-cor-frontend-pr-1012
