Repository hmcts/sscs-cor-frontend, pull requests merged in 2025-03, with the labels that each got.

#1171 SSCSCI-1752: helm chart update
  charts/sscs-cor-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:sscs, prd:sscs-cor, enable_keep_helm, rel:sscs-cor-frontend-pr-1171

#1172 SSCSCI-1755: bump puppeteer to 24.3.0
  .nvmrc
  package.json
  test/browser/1-task-list.test.ts
  test/browser/2-0-additional-evidence.cy.test.ts
  test/browser/2-0-additional-evidence.test.ts
  test/browser/3-0-hearing-recording-request.cy.test.ts
  test/browser/3-0-hearing-recording-request.test.ts
  test/browser/6-ibc-mya.test.ts
  test/browser/6-mya.cy.test.ts
  test/browser/6-mya.test.ts
  test/browser/7-jointParty.cy.test.ts
  test/browser/7-mya-jp.test.ts
  test/browser/8-representative.mya.cy.test.ts
  test/browser/8-representative.mya.test.ts
  test/browser/common.ts
  test/page-objects/additional-evidence-upload-audio.ts
  test/page-objects/additional-evidence-upload.ts
  test/page-objects/base.ts
  test/unit/client/detailsToggle.test.ts
  test/unit/client/evidence-statement.test.ts
  test/unit/client/evidence-upload-audio-video.test.ts
  test/unit/client/evidence-upload-helper.test.ts
  test/unit/client/evidence-upload.test.ts
  test/unit/client/expanding-textbox.test.ts
  test/unit/client/main.test.ts
  test/unit/client/request-type.test.ts
  test/unit/client/session-inactivity.test.ts
  test/unit/controllers/active-cases.test.ts
  test/unit/controllers/additional-evidence.test.ts
  test/unit/controllers/av-evidence.test.ts
  test/unit/controllers/cases.test.ts
  test/unit/controllers/decision.test.ts
  test/unit/controllers/dormant-cases.test.ts
  test/unit/controllers/hearing.test.ts
  test/unit/controllers/history.test.ts
  test/unit/controllers/login.test.ts
  test/unit/controllers/outcome.test.ts
  test/unit/controllers/policies.test.ts
  test/unit/controllers/request-type.test.ts
  test/unit/controllers/session.test.ts
  test/unit/controllers/status.test.ts
  test/unit/controllers/your-details.test.ts
  test/unit/middleware/ensure-authenticated.test.ts
  test/unit/middleware/error-handler.test.ts
  test/unit/routes.test.ts
  test/unit/services/hearing.test.ts
  test/unit/services/idam.test.ts
  test/unit/services/request-type.test.ts
  test/unit/services/unsubscribeService.test.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:sscs, prd:sscs-cor, rel:sscs-cor-frontend-pr-1172

#1175 SSCSCI-1763
  app/common/locale/content.json
  app/server/app.ts
  app/server/utils/featureEnabled.ts
  charts/sscs-cor-frontend/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  views/help-guides/support-hearing.njk
Labels: ns:sscs, prd:sscs-cor, aat/add-or-update, prod/no-changes, rel:sscs-cor-frontend-pr-1175
